<!DOCTYPE html>
<html>
        <head>
                <title>{{ title }} - Page</title>
        </head>
        <body>
                <div class="navbar">
                        <a href="{{ url_for('about') }}">About</a>
			<a href="{{ url_for('favorites') }}">Favorites</a>               
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('signup') }}">Register</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                </div>
                {% block body_content %}{% endblock %}
        </body>
</html>
